BasedOnStyle:  Google
IndentWidth:     4
ColumnLimit:     120
AllowShortLoopsOnASingleLine: true
AccessModifierOffset: -4
BreakBeforeBraces: Stroustrup
IncludeBlocks:   Regroup
IndentCaseLabels: false
NamespaceIndentation: All
